.selectorContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    padding: 1rem;
    gap: 1rem;
    border-bottom: 1px solid #cbcbcb;
}

.selectorHalfLeft {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    justify-content: center;
}

.selectorHalfRight {
    display: flex;
    width: 60%;
    height: 100%;
    justify-content: center;
}


@media (max-width: 760px) {
    .selectorContainer {
        flex-direction: column;
    }
    .selectorHalfLeft {
        width: 100%;
    }
    .selectorHalfRight {
        width: 100%;
    }

}