.infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 12.5rem;
    width: 100%;
    padding: 1rem;
    border: 1px solid #cbcbcb;
    border-radius: 8px;
    gap: 0.3rem;
}

.infoEntry {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden; 
}

.infoEntry h2 {
  flex: 1;    
  margin: 0;         
  text-overflow: ellipsis; 
  white-space: nowrap;                
  overflow: hidden;                
}

.infoContainerHeader {
    font-weight: bold;
}

.infoContainerHeaderWarning {
    align-self: center;
    font-weight: bold;
    opacity: 0.6;
}