.formContentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
}

.smallField {
    display: flex;
    width: fit-content;
}   

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;
}

.rowEntry {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 1rem;

}

.headings {
  font-size: 1.2rem;
  font-weight: bold;
}

.smallHeading {
  font-size: 0.8;
  opacity: 0.8;
  font-weight: bold;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  width: 20rem;
}

@media (max-width: 760px) {
  .row {
    flex-direction: column;  
    flex-wrap: nowrap;        
  }
  .rowEntry {
    width: 100%;
  }

}