.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 95%;
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.heading {
  align-self: self-start;
  padding-bottom: 2rem;
  padding-left: 2rem;
  font-size: 1.2rem;
  font-weight: bold;
}