.signOffContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(240, 240, 240);
    border-radius: 8px;
    gap: 1rem;
}

.signOffEntryContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.signOffEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.headings {
  font-size: 1.2rem;
  font-weight: bold;
}